# Exclude directories
.git/
node_modules/
dist/
*.log
web/.next/
web/node_modules/

# Exclude editor and OS files
.idea/
.vscode/
.DS_Store

# Exclude env files (injected via --build-arg instead)
.env*
web/.env*

# Include shared code
!shared/

proto/
